<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>白羊座</key>
		<array>
			<dict>
				<key>今日</key>
				<dict>
					<key>integrateIndex</key>
					<string>3</string>
					<key>integrateDesc</key>
					<string>努力稳定自己</string>
					<key>more</key>
					<array>
						<array>
							<dict>
								<key>爱情运势</key>
								<string>4</string>
							</dict>
							<dict>
								<key>事业学业</key>
								<string>3</string>
							</dict>
							<dict>
								<key>财富运势</key>
								<string>4</string>
							</dict>
							<dict>
								<key>健康指数</key>
								<string>92%</string>
							</dict>
							<dict>
								<key>商谈指数</key>
								<string>89%</string>
							</dict>
							<dict>
								<key>幸运颜色</key>
								<string>金色</string>
							</dict>
							<dict>
								<key>幸运数字</key>
								<string>9</string>
							</dict>
							<dict>
								<key>速配星座</key>
								<string>水瓶座</string>
							</dict>
						</array>
						<array>
							<dict>
								<key>综合运势</key>
								<string>虽然今天活力四射，精力充沛，但许多状况都一涌而来，让你感到十分紧张，不知所措，这是要控制好情绪，冷静处之。麻烦和委屈虽然同时出现，只要继续坚持不认输，就会笑到最后。</string>
							</dict>
							<dict>
								<key>爱情运势</key>
								<string>爱情上，能结识到情投意合的对象，桃花质量还不错。</string>
							</dict>
							<dict>
								<key>事业学业</key>
								<string>职场上遇到困难可找长辈帮助，让工作有突破。</string>
							</dict>
							<dict>
								<key>财富运势</key>
								<string>收入稳定，但投资有较大的风险，要预防状况发生。</string>
							</dict>
							<dict>
								<key>健康运势</key>
								<string>身体、皮肤都要做好好保养，注意身体健康。</string>
							</dict>
						</array>
					</array>
				</dict>
				<key>明日</key>
				<dict>
					<key>integrateIndex</key>
					<string>3</string>
					<key>integrateDesc</key>
					<string>别盲目自信</string>
					<key>more</key>
					<array>
						<array>
							<dict>
								<key>爱情运势</key>
								<string>3</string>
							</dict>
							<dict>
								<key>事业学业</key>
								<string>4</string>
							</dict>
							<dict>
								<key>财富运势</key>
								<string>3</string>
							</dict>
							<dict>
								<key>健康指数</key>
								<string>86%</string>
							</dict>
							<dict>
								<key>商谈指数</key>
								<string>90%</string>
							</dict>
							<dict>
								<key>幸运颜色</key>
								<string>绿色</string>
							</dict>
							<dict>
								<key>幸运数字</key>
								<string>3</string>
							</dict>
							<dict>
								<key>速配星座</key>
								<string>天蝎座</string>
							</dict>
						</array>
						<array>
							<dict>
								<key>综合运势</key>
								<string>今天与心上人有更多接触的机会，能更多深入地了解对方。职场有变动情况，对你的工作产生影响，无法专心致志做事，效率下滑。购物欲望异常强烈，金钱的付出肯定更大了。</string>
							</dict>
							<dict>
								<key>爱情运势</key>
								<string>有时间可以与恋人多约会谈心，增进感情。</string>
							</dict>
							<dict>
								<key>事业学业</key>
								<string>工作上会遇到一些刁难，这都能让你更好地提升。</string>
							</dict>
							<dict>
								<key>财富运势</key>
								<string>正财运一般，而靠口才赚钱的人财运颇佳。</string>
							</dict>
							<dict>
								<key>健康运势</key>
								<string>容易出现消化不良的现象，注意别吃太多。</string>
							</dict>
						</array>
					</array>
				</dict>
				<key>本周</key>
				<dict>
					<key>integrateIndex</key>
					<string>3</string>
					<key>integrateDesc</key>
					<string>忙碌但有收获的一周</string>
					<key>more</key>
					<array>
						<array>
							<dict>
								<key>爱情运势</key>
								<string>4</string>
							</dict>
							<dict>
								<key>事业学业</key>
								<string>4</string>
							</dict>
							<dict>
								<key>财富运势</key>
								<string>2</string>
							</dict>
							<dict>
								<key>健康指数</key>
								<string>4</string>
							</dict>
							<dict>
								<key>幸运颜色</key>
								<string>粉红色</string>
							</dict>
							<dict>
								<key>幸运星座</key>
								<string>射手座</string>
							</dict>
							<dict>
								<key>提防星座</key>
								<string>天蝎座</string>
							</dict>
						</array>
						<array>
							<dict>
								<key>综合运势</key>
								<string>本周在社交方面的表现有点自高自傲，很主观，很少会在他人的立场上看问题，因此与人的矛盾、争执也变多。人际关系的和谐很重要，但来自于职场也有各种的压力、竞争激烈，部分人还会有离职、跳槽的想法，事业不太稳定，少数人身边会有他人指点，有良好的人脉。另外，这周金钱方面出现危机感，你会开始理财，消费观念会改变，希望养成节约的好习惯。</string>
							</dict>
							<dict>
								<key>爱情运势</key>
								<string>恋爱中的人适合好好地相处沟通，培养更深厚的感情；单身者脱单机率较大的一周，不妨约心上人出来逛逛。</string>
							</dict>
							<dict>
								<key>事业学业</key>
								<string>本周办事节奏蛮快速的，跟周围的人关系也不错，会有良好的合作关系。但有些好机会容易丢失。</string>
							</dict>
							<dict>
								<key>财富运势</key>
								<string>你会意识到个人开销太over，花钱如流水的行为会给你带来金钱压力，而本周消费上会克制一点。</string>
							</dict>
							<dict>
								<key>健康运势</key>
								<string>健康方面都不错，对自己的身体照顾的很好，还有一些坏的饮食习惯会改正。</string>
							</dict>
						</array>
					</array>
				</dict>
				<key>本月</key>
				<dict>
					<key>integrateIndex</key>
					<string>4</string>
					<key>integrateDesc</key>
					<string>运势良好情况改善</string>
					<key>more</key>
					<array>
						<array>
							<dict>
								<key>爱情运势</key>
								<string>4</string>
							</dict>
							<dict>
								<key>事业学业</key>
								<string>4</string>
							</dict>
							<dict>
								<key>财富运势</key>
								<string>3</string>
							</dict>
							<dict>
								<key>健康指数</key>
								<string>3</string>
							</dict>
						</array>
						<array>
							<dict>
								<key>综合运势</key>
								<string>在本月初，可以期待一下感情上有好运气出现，也许会有一段火辣辣的新恋情出现，单身者必须要好好把握这个机会了。金钱运势不太好，花费很多，需要小心理财，但是非常有利于合伙做生意，所以跟周围有金钱来往的伙伴要好好相处，多一些互动。投资上的讯息，要是把握得住，可以赚到一笔可观的金钱收入。本月旅行运势很好，若是有时间，可以来个小旅行，多一些外出，都会给你带来不错的好运气。</string>
							</dict>
							<dict>
								<key>爱情运势</key>
								<string>恋爱中的人关系和谐，少数人有长辈压力，下半月适合谈婚论嫁；单身者脱单机会很大，会遇到合适的对象，下半月会有些职场桃花出现。</string>
							</dict>
							<dict>
								<key>事业学业</key>
								<string>本月事业贵人运较好，累积多一些人脉有更大的帮助。月初有些竞争、矛盾，部分工作细节易出错。整体职场运势稳定，自身能力得到认可。</string>
							</dict>
							<dict>
								<key>财富运势</key>
								<string>月初花销有点多，投资较好但收益并不多，偏财不错。下半月会花钱享受生活，不过赚钱也更加努力了，经商者会有一些损财，不宜投机。</string>
							</dict>
							<dict>
								<key>健康运势</key>
								<string>健康上，月底的时候精神会比较紧张，部分人感觉到疲劳、有失眠，建议放松一点，别有太大的压力。</string>
							</dict>
							<dict>
								<key>解压方式</key>
								<string>运动</string>
							</dict>
							<dict>
								<key>开运小秘诀</key>
								<string>交朋友</string>
							</dict>
						</array>
					</array>
				</dict>
				<key>今年</key>
				<dict>
					<key>integrateIndex</key>
					<string>3</string>
					<key>integrateDesc</key>
					<string>需稳定节奏</string>
					<key>more</key>
					<array>
						<array>
							<dict>
								<key>爱情运势</key>
								<string>3</string>
							</dict>
							<dict>
								<key>事业学业</key>
								<string>4</string>
							</dict>
							<dict>
								<key>财富运势</key>
								<string>4</string>
							</dict>
							<dict>
								<key>健康指数</key>
								<string>3</string>
							</dict>
						</array>
						<array>
							<dict>
								<key>综合运势</key>
								<string>在2018年新的一年，整体来说并不是高调的一年，之前的锋芒今年都会有所收敛，你会更加注重内在的感受，不想找出更多的困扰。这一年你的生活会发生全新的改变，很少有突然的想法或事决定。你会逐渐感受到身居责任，你也会慢慢地开始注重自身对外的形象，不敢懈怠，想要对外界努力维护个人形象。你可能会开始关心起身体健康，也可能已经感受到了一些身体的不适感，所以开始做健康保养等。今年你可能会较多旅行出游，或是有一些外出事务要处理。</string>
							</dict>
							<dict>
								<key>爱情运势</key>
								<string>情侣的感情稳定，下半年可能会有争吵，或是有聚少离多，但整体状况还是很愉快的。单身者会有正桃花运势，有脱单机会，临近年底，可能会有一些纠缠不清的感情。</string>
							</dict>
							<dict>
								<key>事业学业</key>
								<string>事业上会有较大的转机，会得到你想要的，但首先要付出相应的努力。工作会变得忙碌而奔波，要稳扎稳打地进行。</string>
							</dict>
							<dict>
								<key>财富运势</key>
								<string>2018年财运有上升，偏财尤其明显，从事投资、金融行业的人会有优势。在之后的2-3个月会有一些欠款要处理，例如借贷，要多留意有关钱财的事情。</string>
							</dict>
							<dict>
								<key>健康运势</key>
								<string>整体健康状况上半年较差，可能会有一些肠胃的小问题，下半年应酬较多，建议少演少酒，注意身体。</string>
							</dict>
						</array>
					</array>
				</dict>
				<key>爱情</key>
				<dict>
					<key>integrateIndex</key>
					<string>4</string>
					<key>integrateDesc</key>
					<string>整体爱情运势非常浪漫</string>
					<key>more</key>
					<array>
						<array>
							<dict>
								<key>女生指数</key>
								<string>3</string>
							</dict>
							<dict>
								<key>男生指数</key>
								<string>3</string>
							</dict>
						</array>
						<array>
							<dict>
								<key>综合运势</key>
								<string>进入2018年后，总体很不错。犹豫样儿们的爱情生活会受到木星的影响，而木星多数时候都呈现出和谐相位，因此基本上不会出现第三者破坏感情的狗血剧情。对于有心仪对象的白羊，你们会积极主动地靠近对方，有追求爱情的勇气和胆识。这一年里，丘比特会格外宠爱你们，4月份后代表爱情的金星会给予你们支持，你们会变得比以往更加有魅力，不管是言行举止亦或是外在形象又或是口才都能够吸引他人的目光。恋爱中的羊儿们于另一半的感情生活恩爱甜蜜，甚至会有进一步的发展。已婚的羊儿可能会迎来小生命。不过，进入第三季度后，爱情运势将会逐渐下降，可能会遭遇误会之类的事情导致两人的感情出现矛盾，又或者是工作太忙碌而导致聚少离多。但只要你们用心地沟通和交流就能够解决这些问题，多给自己和对方一点自信吧。</string>
							</dict>
							<dict>
								<key>女生</key>
								<string>你们在这一年里的感情生活会遇到些许的挑战，爱情不算顺利。如果是单身，那么可能会开始谈恋爱。如果处于恋爱状态，那么可能会与对方产生沟通交流方面问题，彼此会增加了许多的误解，需要及时解决这些问题才能够让感情生活变得顺利，不然就会逐渐疏远对方。另外，有一部分人可能会出现二选一的情况，单身的容易遇到烂桃花需要仔细分辨。</string>
							</dict>
							<dict>
								<key>男生</key>
								<string>由于你们会受到满月的影响，因此你们的爱情运势在今年会有着变化比较大的起伏，时好时坏是经常的事情。如果能够在运势好的时候抓紧时机，单身者就有着极大的机会脱单，若是掌握不好时机就会一直保持着关棍状态。此外，恋爱中的你们如果能够把握爱情运势好的时机，和另一半的感情就会变得更加甜蜜恩爱。反之，则容易与另一半产生矛盾与摩擦。</string>
							</dict>
						</array>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
