<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>白羊座</key>
		<array>
			<dict>
				<key>dateStr</key>
				<string>今日</string>
				<key>integrateIndex</key>
				<string>⭐️⭐️⭐️</string>
				<key>integrateDesc</key>
				<string>努力稳定自己</string>
				<key>more</key>
				<array>
					<array>
						<dict>
							<key>爱情运势</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>健康指数</key>
							<string>92%</string>
						</dict>
						<dict>
							<key>商谈指数</key>
							<string>89%</string>
						</dict>
						<dict>
							<key>幸运颜色</key>
							<string>金色</string>
						</dict>
						<dict>
							<key>幸运数字</key>
							<string>9</string>
						</dict>
						<dict>
							<key>速配星座</key>
							<string>水瓶座</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>综合运势</key>
							<string>虽然今天活力四射，精力充沛，但许多状况都一涌而来，让你感到十分紧张，不知所措，这是要控制好情绪，冷静处之。麻烦和委屈虽然同时出现，只要继续坚持不认输，就会笑到最后。</string>
						</dict>
						<dict>
							<key>爱情运势</key>
							<string>爱情上，能结识到情投意合的对象，桃花质量还不错。</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>职场上遇到困难可找长辈帮助，让工作有突破。</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>收入稳定，但投资有较大的风险，要预防状况发生。</string>
						</dict>
						<dict>
							<key>健康运势</key>
							<string>身体、皮肤都要做好好保养，注意身体健康。</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>dateStr</key>
				<string>明日</string>
				<key>integrateIndex</key>
				<string>⭐️⭐️⭐️</string>
				<key>integrateDesc</key>
				<string>别盲目自信</string>
				<key>more</key>
				<array>
					<array>
						<dict>
							<key>爱情运势</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>健康指数</key>
							<string>86%</string>
						</dict>
						<dict>
							<key>商谈指数</key>
							<string>90%</string>
						</dict>
						<dict>
							<key>幸运颜色</key>
							<string>绿色</string>
						</dict>
						<dict>
							<key>幸运数字</key>
							<string>3</string>
						</dict>
						<dict>
							<key>速配星座</key>
							<string>天蝎座</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>综合运势</key>
							<string>今天与心上人有更多接触的机会，能更多深入地了解对方。职场有变动情况，对你的工作产生影响，无法专心致志做事，效率下滑。购物欲望异常强烈，金钱的付出肯定更大了。</string>
						</dict>
						<dict>
							<key>爱情运势</key>
							<string>有时间可以与恋人多约会谈心，增进感情。</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>工作上会遇到一些刁难，这都能让你更好地提升。</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>正财运一般，而靠口才赚钱的人财运颇佳。</string>
						</dict>
						<dict>
							<key>健康运势</key>
							<string>容易出现消化不良的现象，注意别吃太多。</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>dateStr</key>
				<string>本周</string>
				<key>integrateIndex</key>
				<string>⭐️⭐️⭐️</string>
				<key>integrateDesc</key>
				<string>忙碌但有收获的一周</string>
				<key>more</key>
				<array>
					<array>
						<dict>
							<key>爱情运势</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>⭐️⭐️</string>
						</dict>
						<dict>
							<key>健康指数</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>幸运颜色</key>
							<string>粉红色</string>
						</dict>
						<dict>
							<key>幸运星座</key>
							<string>射手座</string>
						</dict>
						<dict>
							<key>提防星座</key>
							<string>天蝎座</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>综合运势</key>
							<string>本周在社交方面的表现有点自高自傲，很主观，很少会在他人的立场上看问题，因此与人的矛盾、争执也变多。人际关系的和谐很重要，但来自于职场也有各种的压力、竞争激烈，部分人还会有离职、跳槽的想法，事业不太稳定，少数人身边会有他人指点，有良好的人脉。另外，这周金钱方面出现危机感，你会开始理财，消费观念会改变，希望养成节约的好习惯。</string>
						</dict>
						<dict>
							<key>爱情运势</key>
							<string>恋爱中的人适合好好地相处沟通，培养更深厚的感情；单身者脱单机率较大的一周，不妨约心上人出来逛逛。</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>本周办事节奏蛮快速的，跟周围的人关系也不错，会有良好的合作关系。但有些好机会容易丢失。</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>你会意识到个人开销太over，花钱如流水的行为会给你带来金钱压力，而本周消费上会克制一点。</string>
						</dict>
						<dict>
							<key>健康运势</key>
							<string>健康方面都不错，对自己的身体照顾的很好，还有一些坏的饮食习惯会改正。</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>dateStr</key>
				<string>本月</string>
				<key>integrateIndex</key>
				<string>⭐️⭐️⭐️⭐️</string>
				<key>integrateDesc</key>
				<string>运势良好情况改善</string>
				<key>more</key>
				<array>
					<array>
						<dict>
							<key>爱情运势</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>健康指数</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>综合运势</key>
							<string>在本月初，可以期待一下感情上有好运气出现，也许会有一段火辣辣的新恋情出现，单身者必须要好好把握这个机会了。金钱运势不太好，花费很多，需要小心理财，但是非常有利于合伙做生意，所以跟周围有金钱来往的伙伴要好好相处，多一些互动。投资上的讯息，要是把握得住，可以赚到一笔可观的金钱收入。本月旅行运势很好，若是有时间，可以来个小旅行，多一些外出，都会给你带来不错的好运气。</string>
						</dict>
						<dict>
							<key>爱情运势</key>
							<string>恋爱中的人关系和谐，少数人有长辈压力，下半月适合谈婚论嫁；单身者脱单机会很大，会遇到合适的对象，下半月会有些职场桃花出现。</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>本月事业贵人运较好，累积多一些人脉有更大的帮助。月初有些竞争、矛盾，部分工作细节易出错。整体职场运势稳定，自身能力得到认可。</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>月初花销有点多，投资较好但收益并不多，偏财不错。下半月会花钱享受生活，不过赚钱也更加努力了，经商者会有一些损财，不宜投机。</string>
						</dict>
						<dict>
							<key>健康运势</key>
							<string>健康上，月底的时候精神会比较紧张，部分人感觉到疲劳、有失眠，建议放松一点，别有太大的压力。</string>
						</dict>
						<dict>
							<key>解压方式</key>
							<string>运动</string>
						</dict>
						<dict>
							<key>开运小秘诀</key>
							<string>交朋友</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>dateStr</key>
				<string>今年</string>
				<key>integrateIndex</key>
				<string>⭐️⭐️⭐️</string>
				<key>integrateDesc</key>
				<string>需稳定节奏</string>
				<key>more</key>
				<array>
					<array>
						<dict>
							<key>爱情运势</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>健康指数</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>综合运势</key>
							<string>在2018年新的一年，整体来说并不是高调的一年，之前的锋芒今年都会有所收敛，你会更加注重内在的感受，不想找出更多的困扰。这一年你的生活会发生全新的改变，很少有突然的想法或事决定。你会逐渐感受到身居责任，你也会慢慢地开始注重自身对外的形象，不敢懈怠，想要对外界努力维护个人形象。你可能会开始关心起身体健康，也可能已经感受到了一些身体的不适感，所以开始做健康保养等。今年你可能会较多旅行出游，或是有一些外出事务要处理。</string>
						</dict>
						<dict>
							<key>爱情运势</key>
							<string>情侣的感情稳定，下半年可能会有争吵，或是有聚少离多，但整体状况还是很愉快的。单身者会有正桃花运势，有脱单机会，临近年底，可能会有一些纠缠不清的感情。</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>事业上会有较大的转机，会得到你想要的，但首先要付出相应的努力。工作会变得忙碌而奔波，要稳扎稳打地进行。</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>2018年财运有上升，偏财尤其明显，从事投资、金融行业的人会有优势。在之后的2-3个月会有一些欠款要处理，例如借贷，要多留意有关钱财的事情。</string>
						</dict>
						<dict>
							<key>健康运势</key>
							<string>整体健康状况上半年较差，可能会有一些肠胃的小问题，下半年应酬较多，建议少演少酒，注意身体。</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>dateStr</key>
				<string>爱情</string>
				<key>integrateIndex</key>
				<string>⭐️⭐️⭐️⭐️</string>
				<key>integrateDesc</key>
				<string>整体爱情运势非常浪漫</string>
				<key>more</key>
				<array>
					<array>
						<dict>
							<key>女生指数</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>男生指数</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>综合运势</key>
							<string>进入2018年后，总体很不错。犹豫样儿们的爱情生活会受到木星的影响，而木星多数时候都呈现出和谐相位，因此基本上不会出现第三者破坏感情的狗血剧情。对于有心仪对象的白羊，你们会积极主动地靠近对方，有追求爱情的勇气和胆识。这一年里，丘比特会格外宠爱你们，4月份后代表爱情的金星会给予你们支持，你们会变得比以往更加有魅力，不管是言行举止亦或是外在形象又或是口才都能够吸引他人的目光。恋爱中的羊儿们于另一半的感情生活恩爱甜蜜，甚至会有进一步的发展。已婚的羊儿可能会迎来小生命。不过，进入第三季度后，爱情运势将会逐渐下降，可能会遭遇误会之类的事情导致两人的感情出现矛盾，又或者是工作太忙碌而导致聚少离多。但只要你们用心地沟通和交流就能够解决这些问题，多给自己和对方一点自信吧。</string>
						</dict>
						<dict>
							<key>女生</key>
							<string>你们在这一年里的感情生活会遇到些许的挑战，爱情不算顺利。如果是单身，那么可能会开始谈恋爱。如果处于恋爱状态，那么可能会与对方产生沟通交流方面问题，彼此会增加了许多的误解，需要及时解决这些问题才能够让感情生活变得顺利，不然就会逐渐疏远对方。另外，有一部分人可能会出现二选一的情况，单身的容易遇到烂桃花需要仔细分辨。</string>
						</dict>
						<dict>
							<key>男生</key>
							<string>由于你们会受到满月的影响，因此你们的爱情运势在今年会有着变化比较大的起伏，时好时坏是经常的事情。如果能够在运势好的时候抓紧时机，单身者就有着极大的机会脱单，若是掌握不好时机就会一直保持着关棍状态。此外，恋爱中的你们如果能够把握爱情运势好的时机，和另一半的感情就会变得更加甜蜜恩爱。反之，则容易与另一半产生矛盾与摩擦。</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>金牛座</key>
		<array>
			<dict>
				<key>dateStr</key>
				<string>今日</string>
				<key>integrateIndex</key>
				<string>⭐️⭐️⭐️</string>
				<key>integrateDesc</key>
				<string>感到烦躁不安</string>
				<key>more</key>
				<array>
					<array>
						<dict>
							<key>爱情运势</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>健康指数</key>
							<string>87%</string>
						</dict>
						<dict>
							<key>商谈指数</key>
							<string>87%</string>
						</dict>
						<dict>
							<key>幸运颜色</key>
							<string>黑色</string>
						</dict>
						<dict>
							<key>幸运数字</key>
							<string>6</string>
						</dict>
						<dict>
							<key>速配星座</key>
							<string>处女座</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>综合运势</key>
							<string>今天因为一点小小的事情就会感到心慌、焦虑，从而心生压力，可以尝试找些其它事情做做，分散注意力。突发的事情特别多，考验着你的临时应变和处理问题的能力。要及时调整状态和心态。</string>
						</dict>
						<dict>
							<key>爱情运势</key>
							<string>另一半的心思让你很难捉摸，而一些人喜欢指责对方。</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>你的状态不佳会影响工作，可能会有麻烦出现。</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>财运一般，支出较大，生活用品花了不少钱。</string>
						</dict>
						<dict>
							<key>健康运势</key>
							<string>健康方面容易出现病痛，要增强体质。</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>dateStr</key>
				<string>明日</string>
				<key>integrateIndex</key>
				<string>⭐️⭐️⭐️</string>
				<key>integrateDesc</key>
				<string>行动之前想清楚</string>
				<key>more</key>
				<array>
					<array>
						<dict>
							<key>爱情运势</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>健康指数</key>
							<string>91%</string>
						</dict>
						<dict>
							<key>商谈指数</key>
							<string>94%</string>
						</dict>
						<dict>
							<key>幸运颜色</key>
							<string>蓝色</string>
						</dict>
						<dict>
							<key>幸运数字</key>
							<string>1</string>
						</dict>
						<dict>
							<key>速配星座</key>
							<string>双子座</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>综合运势</key>
							<string>今天异性缘很不错，多点出外活动会有机会艳遇，遇到心动对象。你的聪明才智让你工作更加顺利，以前的错误已经注意改正，工作效率更加高效。钱财上必须要付出努力才能获得收获。</string>
						</dict>
						<dict>
							<key>爱情运势</key>
							<string>单身者多与异性交流有助于觅得良缘，有好机会发展。</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>做事很积极，有些时候会犹豫不决，但反而显得更稳当。</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>正财比偏财稍微差一点，一些抽奖、乐透会有机会。</string>
						</dict>
						<dict>
							<key>健康运势</key>
							<string>身体一般般，要注意营养，少吃一些冰冷食物。</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>dateStr</key>
				<string>本周</string>
				<key>integrateIndex</key>
				<string>⭐️⭐️⭐️</string>
				<key>integrateDesc</key>
				<string>需要暂缓休整</string>
				<key>more</key>
				<array>
					<array>
						<dict>
							<key>爱情运势</key>
							<string>⭐️⭐️</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>⭐️⭐️</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>⭐️⭐️</string>
						</dict>
						<dict>
							<key>健康指数</key>
							<string>⭐️⭐️</string>
						</dict>
						<dict>
							<key>幸运颜色</key>
							<string>棕色</string>
						</dict>
						<dict>
							<key>幸运星座</key>
							<string>处女座</string>
						</dict>
						<dict>
							<key>提防星座</key>
							<string>白羊座</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>综合运势</key>
							<string>本周工作的变数比较多，例如有跳槽、离职、转变工作方向、人任务变化等等，部分人的工作态度差，脾气差，很容易与人发生争吵。事业上会有新的合作关系，一定要谨慎处理。同时也有很大的压存在，建议别对自己要求太高，还要调整好情绪。一些人办事效率低下，或是不敢尝试新任务。这段时间偶尔有突发状况出现，必须要时刻保持冷静理智，暴躁事解决不了问题的。</string>
						</dict>
						<dict>
							<key>爱情运势</key>
							<string>爱情运势有点差，恋爱中的人可能会遭到家人的反对，或是分开；单身者不要去讨好不喜欢你的人，别自降身价。</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>节奏容易被打乱，会怀疑自身的办事能力、决定。部分人工作显得很随意，做事方法需要改变。</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>财运方面的收入一般，工作的好坏会影响财运。少数人会有兼职。</string>
						</dict>
						<dict>
							<key>健康运势</key>
							<string>健康运势方面，身体状况还可以，但缺乏运动，要控制食量，别胡吃海喝。</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>dateStr</key>
				<string>本月</string>
				<key>integrateIndex</key>
				<string>4</string>
				<key>integrateDesc</key>
				<string>状态变好运势提升</string>
				<key>more</key>
				<array>
					<array>
						<dict>
							<key>爱情运势</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>健康指数</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>综合运势</key>
							<string>本月的事业运要比感情运、金钱运势都要好。这段时间你会变得保守一些，很怕事，很怕惹上麻烦，与人扯出误会，但同时保守对你来说也是好事，因为没有麻烦。在月中的时候，灵感会变多，创意性很强，而且很敢于说出自己的想法，很勇敢地去行动实现，职场上不再是那个“透明人”，你的所作所为都会被当作是一回事。不过工作上发表意见说话要直接一点，感情上就要多一点去聆听，话不要太多。这个月的工作是相对稳定的，偏财不太理想，耐不住性子，想去玩金钱游戏，可是易弄巧成拙。</string>
						</dict>
						<dict>
							<key>爱情运势</key>
							<string>整体爱情运势稳定，恋人之间相处满激情的，下半月就有点小迷茫，有矛盾出现；单身者建议多参加活动，或是留意职场桃花，少数人有暗恋、暧昧关系。</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>这个月事业运势明显好转，事情按计划进行，还有不错的升职运气，做事相对顺利。但合作上要注意细节，小心人际纷争。</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>本月投资理财上会话费不少资金，正财比偏财要好一些。下半月的支出会增多，部分人有加薪，有些人需要兼职补贴，赚钱能力相对有增强一点。</string>
						</dict>
						<dict>
							<key>健康运势</key>
							<string>本月需要注意健康，甭波劳累，出行的人要注意安全。月初回感觉身体很疲累，需要多休息。</string>
						</dict>
						<dict>
							<key>解压方式</key>
							<string>看演唱会</string>
						</dict>
						<dict>
							<key>开运小秘诀</key>
							<string>粉红色物品</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>dateStr</key>
				<string>今年</string>
				<key>integrateIndex</key>
				<string>⭐️⭐️⭐️⭐️</string>
				<key>integrateDesc</key>
				<string>宜动不宜静</string>
				<key>more</key>
				<array>
					<array>
						<dict>
							<key>爱情运势</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>健康指数</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>综合运势</key>
							<string>2018年，你会参加更多社交活动的圈子，遇到新朋友，应酬增加，并且你也会特别重视人与人之间的友谊和交情，将重心放在人际交往和感情相处上。之前感受到的压抑和不顺心、不顺利会随着时间的推移，慢慢改善，你的人生目标也会开始慢慢的清晰起来，到时候需要如何努力，如何坚持，都会一起紧密跟随的。你也会遇到能够帮助你的人，或者在人与人之间的交往中感触诸多。今年还需要关注你的家庭和事业环境，可能你有全新的生活环境。另外，今年要多关心自身的健康。</string>
						</dict>
						<dict>
							<key>爱情运势</key>
							<string>感情运势有所增强，有伴者会发现另一半身上的优点。少数人会有感情秘密；单身者人缘上涨，桃花增多，要懂得辨别烂桃花。下半年坑会有感情困扰，但脱单机会蛮大。</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>事业会有所转变，持续性发力，慢慢找到方向，懂得适应环境变化。今年可以运用人际关系来处理工作上的事，扩大交际圈。下半年比较忙碌，突发事件较多。</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>今年金钱开销增多，会有冲动消费，但赚钱积极性提升，可以多留意他人带来的资源。第四季度开始偏财运走强，一直持续到下一年。</string>
						</dict>
						<dict>
							<key>健康运势</key>
							<string>健康运势不算太理想，尤其是年中的时候，身体可能会因为情绪变化而出问题。</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>dateStr</key>
				<string>爱情</string>
				<key>integrateIndex</key>
				<string>⭐️⭐️⭐️⭐️</string>
				<key>integrateDesc</key>
				<string>需要严谨且慎重地处理</string>
				<key>more</key>
				<array>
					<array>
						<dict>
							<key>女生指数</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>男生指数</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>综合运势</key>
							<string>进入2018年，牛儿们会有许多的机会接触异性，如：社交活动、团体拓展或是聚会派对等。作为单身贵族的金牛们又机会结识有好感的人，并且与对方有着进一步的发展，甚至可能会与对方闪婚。另外，有的金牛座人会与挚友发展成爱人的关系，可喜可贺。不过，也有的金牛座人会遇到与自己三观皆不合的对象，与对方谈恋爱的时候感到超级心累的，会产生诸多的矛盾。在下半年，有的金牛座人会对爱情失去兴趣，对他人的示好无动于衷的情况时有发生。进入秋季后，恋爱中的牛儿们可能会对方产生沟通方面的矛盾，对另一半产生疑心，从而开始冷战。建议牛儿们多点与对方进行平和的沟通，多点增加两个人的相处机会，偶尔一起去旅行也是不错的选择。</string>
						</dict>
						<dict>
							<key>女生</key>
							<string>你们在这一年里的爱情运势有所好转，而且你们会开始思考关于感情的本质，在开始新的感情生活之前，会积极地总结自己的经验，从而更加客观地对待与感情相关的问题。如果是处于恋爱状态，那么你们和恋人的沟通交流会非常地融洽和谐，能够彼此认同。如果你们处于单身的状态，那么会邂逅心仪对象从而开始一段新的恋情。在下半年，你们的感情生活会很棒哦。</string>
						</dict>
						<dict>
							<key>男生</key>
							<string>你们的感情生活会得到金星的支持与帮助，因为金星在这一年里有很长的时间都待在你们的爱情宫附近呢。尽管有一段时间金星与爱情宫的位置里的比较远，或多或少地影响了你们的感情生活。有伴侣的你们容易与对方产生矛盾和争吵，但也只是小打小闹，并不会动摇你们与另一半的感情根基，就像给平凡的生活增添调味剂。总体而言，你们的爱情运势是很不错的。</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>双子座</key>
		<array>
			<dict>
				<key>integrateIndex</key>
				<string>⭐️⭐️⭐️</string>
				<key>integrateDesc</key>
				<string>需要开足马力做事</string>
				<key>more</key>
				<array>
					<array>
						<dict>
							<key>爱情运势</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>健康指数</key>
							<string>89%</string>
						</dict>
						<dict>
							<key>商谈指数</key>
							<string>85%</string>
						</dict>
						<dict>
							<key>幸运颜色</key>
							<string>黑色</string>
						</dict>
						<dict>
							<key>幸运数字</key>
							<string>0</string>
						</dict>
						<dict>
							<key>速配星座</key>
							<string>天秤座</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>综合运势</key>
							<string>今天若是有团体活动聚会建议你还是少出席，因你有可能会忍不住任性花钱，这样的活动少参加能避免钱包大出血。职场上会收到一些收获，但也有自我怀疑的时候，会自我否定。</string>
						</dict>
						<dict>
							<key>爱情运势</key>
							<string>单身者有挑花运，自信的魅力让你有意想不到的爱情收获。</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>工作辛苦，但却有十足的成就感，学到一些知识。</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>财运还不错，但意外之财不可贪，投资要见好就收。</string>
						</dict>
						<dict>
							<key>健康运势</key>
							<string>身体有点虚，心里压力大，要注意多休息。</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>integrateIndex</key>
				<string>⭐️⭐️⭐️</string>
				<key>integrateDesc</key>
				<string>状态不太好</string>
				<key>more</key>
				<array>
					<array>
						<dict>
							<key>爱情运势</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>健康指数</key>
							<string>85%</string>
						</dict>
						<dict>
							<key>商谈指数</key>
							<string>80%</string>
						</dict>
						<dict>
							<key>幸运颜色</key>
							<string>灰色</string>
						</dict>
						<dict>
							<key>幸运数字</key>
							<string>4</string>
						</dict>
						<dict>
							<key>速配星座</key>
							<string>天蝎座</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>综合运势</key>
							<string>今天小人有点多，可能会影响工作的进度，或是让你计划无法顺利执行。理财方法需要改善，或许可以找有经验的人士帮忙会更好。爱情上与恋人之间的距离越来越远，关系大不如前。</string>
						</dict>
						<dict>
							<key>爱情运势</key>
							<string>单身者在异性面前表现真实一点，别装模作样的。</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>有些想不到的事情让你措手不及，影响工作进度。</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>财运欠佳，投资理财过分保守，很难赚大钱。</string>
						</dict>
						<dict>
							<key>健康运势</key>
							<string>健康上容易精神不振，睡眠质量下降。</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>integrateIndex</key>
				<string>⭐️⭐️⭐️</string>
				<key>integrateDesc</key>
				<string>整体状态偏差</string>
				<key>more</key>
				<array>
					<array>
						<dict>
							<key>爱情运势</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>健康指数</key>
							<string>⭐️⭐️</string>
						</dict>
						<dict>
							<key>幸运颜色</key>
							<string>咖啡色</string>
						</dict>
						<dict>
							<key>幸运星座</key>
							<string>金牛座</string>
						</dict>
						<dict>
							<key>提防星座</key>
							<string>摩羯座</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>综合运势</key>
							<string>本周会出现某些突发状况打乱你的工作、学习计划，事情进行得并不那么顺利。一些工作合同、钱财事务可能会需要反复检查，细微之处必须耐心一点处理，另外，多听他人的意见，采纳最好的办法，不要冲动做决定。部分人会有出差任务。这段时间周围环境对你的影响蛮大，导致判断力欠佳，甚至陷在混乱中。有烦恼事不妨和亲密的人聊聊，不要独自承受压力。</string>
						</dict>
						<dict>
							<key>爱情运势</key>
							<string>爱情运势很不错，恋爱中的人能够感受到对方的真心付出；单身者想要找个喜欢的人不容易，要睁大眼睛看准一点。</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>工作上良好的沟通很重要，不可以特立独行，同时，职场上要调整自己的心态。</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>需要注意自己的借贷偿还方面问题，与其他人的一些钱财事务要注意一点。</string>
						</dict>
						<dict>
							<key>健康运势</key>
							<string>这周健康一般，睡眠质量不太好，压力较大，偶尔有头晕头疼的情况。</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>integrateIndex</key>
				<string>⭐️⭐️⭐️⭐️</string>
				<key>integrateDesc</key>
				<string>运势增强正能量爆棚</string>
				<key>more</key>
				<array>
					<array>
						<dict>
							<key>爱情运势</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>⭐️⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>⭐️⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>健康指数</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>综合运势</key>
							<string>这个月双子座精力旺盛，勇于接受挑战，能够完成他人所不能及的事情，工作运势和学业运势可以说非常好，在自身助力强大的情况下，还有贵人运，可以说是天时地利人和，如此爆好的月份一定要好好把握了。好好地努力去赚更多的钱，还有在工作上可以冲刺一次啊，也许会得到很好的成绩和名声。在感情上积极而且充满热情，平时除了工作以外，不妨找时间约会，会让关系更近一步，迸发出新的火花，还有爱情的回馈。</string>
						</dict>
						<dict>
							<key>爱情运势</key>
							<string>这个月爱情优点波动，易有小吵小闹，部分人的感情美煞旁人；单身者桃花运比较明显，而部分人对感情是很抵触的，不爱去想情情爱爱。</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>这个月事业运势很旺盛，业务能力了的，合作运也好，还累积不少好的人脉。下半月需要注意小人出现，或是有些突发状况，还有一些竞争，做事要多谨慎一些。</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>财运不断上升的一个月，投资有收入，还有生意赚钱、朋友带来的好机遇。偏财也很不错，守财能力强，能存到不少钱。</string>
						</dict>
						<dict>
							<key>健康运势</key>
							<string>本月健康需要特别注意一下，很容易出现上症状，例如口腔溃疡、肠胃病，女性要注意饮食。</string>
						</dict>
						<dict>
							<key>解压方式</key>
							<string>游泳</string>
						</dict>
						<dict>
							<key>开运小秘诀</key>
							<string>佛珠</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>integrateIndex</key>
				<string>⭐️⭐️⭐️</string>
				<key>integrateDesc</key>
				<string>心态要调整</string>
				<key>more</key>
				<array>
					<array>
						<dict>
							<key>爱情运势</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>健康指数</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>综合运势</key>
							<string>进入2018年，整体运势变弱，态度越发悲观起来，很容易多想。需要开始关心自身健康了，如果感到身体不适，那么及早做体检和诊疗会比较好，包括今年之后的未来两年也可以多花些时间做养生，关爱自己。有部分双子出现体重上升，当然也有幸福肥。一些人际交往、工作事务会反复出现，过去的事情再次出现也许会变成机遇，不要觉得是负担。今年的旅游、出差、考试会比较多，可以提前做好计划。</string>
						</dict>
						<dict>
							<key>爱情运势</key>
							<string>感情再次出现高潮，与爱人互动频繁，互相理解，适合备孕；单身者今年会有桃花等着你，可以多留意职场，有可能会有办公室恋情。</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>2018年事业前程大好，状态越来越好，同事相处友好，团队合作增强，会有好消息。今年是需要拼搏的一年，加班会比较多，尤其是创业的双子。上半年要小心职场小人，效率有点低，下个月开始可以奋力向前。</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>年初时可能会有钱财纠纷，在签订合同、借款时都要留意。部分人会在健康上花钱，下半年赚钱信心大增，会看到新商机，有利于金钱收入。</string>
						</dict>
						<dict>
							<key>健康运势</key>
							<string>一整年的健康状况都不太稳定，偶尔都会有头疼头晕的现象。另外不适合长期使用电脑，在年中的时候，要特别注意身体。</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>integrateIndex</key>
				<string>⭐️⭐️⭐️⭐️</string>
				<key>integrateDesc</key>
				<string>需要有更多的沟通和交流</string>
				<key>more</key>
				<array>
					<array>
						<dict>
							<key>女生指数</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>男生指数</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>综合运势</key>
							<string>进入2018年，双子们在爱情里有着不顾一切的态度，对爱情充满了兴趣。尽管今年土星呈现出相刑相位，你们仍然能够对爱情产生渴望。这一年里的爱情状况虽然有不少的甜蜜，但同时也有着许多让自己感到辛酸的事情，只是你们会更加懂得珍惜对方。在年初的时候，双子们常常会因为一点小事而与对方争吵，尤其是之前曾经有过矛盾但没有及时解决的，如今会一次性爆发出来。建议双子们在这种时候，需要用理智的态度重新审视这段感情，如果想要在一起就积极地解决问题，如果不想在一起就果断分手。在年底，金星在你们的交友宫顺利，因此你们的人缘关系很不错，这意味着你们有更多的机会去接触不错的异性。但是，这里需要提醒你们的是，不要未来结婚而结婚，要想清楚对方是不是适合自己。</string>
						</dict>
						<dict>
							<key>女生</key>
							<string>总体而言，你们这一年里的感情生活算是不错的。一些处于单身状态的女生会开始新的恋情，处于恋爱状态的则可能与恋人又进一步的发展，也许是和恋人打算结婚，感情生活发展趋势逐渐稳定。尽管过去的感情生活有着许多变化，但如今有时间冷静地思考和经营自己的爱情。在上半年时，你们的感情生活还算不错。在下半年则可能会感到些许迷惘，需要自己去思考得出答案。</string>
						</dict>
						<dict>
							<key>男生</key>
							<string>你们在这一年里的感情生活看似顺顺利利，但实际上潜藏着许多的危机。在火星的影响下，你们对爱情有着深切的渴望，同时对待感情生活的渴望和热情也飙升不少。虽然热情时好事，但过于强烈就会和对方造成压力。尽管对方会尽量地满足你们的要求，按照你们的想法行动，但时间长了后就容易让对方产生厌倦感，从而出现矛盾和争吵。</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>巨蟹座</key>
		<array>
			<dict>
				<key>integrateIndex</key>
				<string>⭐️⭐️⭐️⭐️</string>
				<key>integrateDesc</key>
				<string>无需担忧太多</string>
				<key>more</key>
				<array>
					<array>
						<dict>
							<key>爱情运势</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>健康指数</key>
							<string>89%</string>
						</dict>
						<dict>
							<key>商谈指数</key>
							<string>91%</string>
						</dict>
						<dict>
							<key>幸运颜色</key>
							<string>蓝色</string>
						</dict>
						<dict>
							<key>幸运数字</key>
							<string>8</string>
						</dict>
						<dict>
							<key>速配星座</key>
							<string>双鱼座</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>综合运势</key>
							<string>今天恋爱的人不知道自己需要什么，状况有点混乱，感觉很迷惘。工作要过争强好胜，不顾他人感受，这样会影响你的人际关系，容易惹的他人不满。投资行动之前还是要了解市场动态，以免有损伤。</string>
						</dict>
						<dict>
							<key>爱情运势</key>
							<string>总有鸡毛蒜皮小事，争吵让彼此关系很僵。</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>职场基本上是平静的，只不过要注意一下同事之间的关系。</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>整体财运比较平稳，可以选择分散投资容易获利。</string>
						</dict>
						<dict>
							<key>健康运势</key>
							<string>出外做事活动都要注意安全，小心磕磕碰碰。</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>integrateIndex</key>
				<string>⭐️⭐️⭐️</string>
				<key>integrateDesc</key>
				<string>明确个人的立场</string>
				<key>more</key>
				<array>
					<array>
						<dict>
							<key>爱情运势</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>健康指数</key>
							<string>90%</string>
						</dict>
						<dict>
							<key>商谈指数</key>
							<string>86%</string>
						</dict>
						<dict>
							<key>幸运颜色</key>
							<string>橙色</string>
						</dict>
						<dict>
							<key>幸运数字</key>
							<string>7</string>
						</dict>
						<dict>
							<key>速配星座</key>
							<string>天蝎座</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>综合运势</key>
							<string>可能会有一些流言蜚语出现，要及时为自己澄清，表明真实情况，不要忍着。有小人在身边出出现，所以说话做事都要小心，别落人口实。职场要凭借个人实力圈粉，证明自己。</string>
						</dict>
						<dict>
							<key>爱情运势</key>
							<string>小两口可以外出约约会，吃饭看电影的恋爱生活很美好。</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>与同事之间的矛盾增多，很多时候都会感觉很无奈。</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>对于金钱多少并不是太在乎，赚多少都很随意。</string>
						</dict>
						<dict>
							<key>健康运势</key>
							<string>健康运势稳定，一些人可能会有炎症，有口腔溃疡。</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>integrateIndex</key>
				<string>⭐️⭐️⭐️</string>
				<key>integrateDesc</key>
				<string>整体平衡但需要调整</string>
				<key>more</key>
				<array>
					<array>
						<dict>
							<key>爱情运势</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>⭐️⭐️</string>
						</dict>
						<dict>
							<key>健康指数</key>
							<string>3</string>
						</dict>
						<dict>
							<key>幸运颜色</key>
							<string>橙色</string>
						</dict>
						<dict>
							<key>幸运星座</key>
							<string>双鱼座</string>
						</dict>
						<dict>
							<key>提防星座</key>
							<string>白羊座</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>综合运势</key>
							<string>这段时间与某些人的关系发生变化，对方会隐瞒、或是说谎话骗你，当然你也会开始结束这些假惺惺的关系，或是做一次朋友圈的整理。社交生活没那么活跃，状态很平静，偶尔觉得很孤单，不过也会让你有更多的时间去做自己的的事情，或是思考一下生活、未来。本周创业人士要注意与合作伙伴之间的关系，融洽和谐才能办好事，另外，有一些资金上的问题，会有周转不灵的状况。</string>
						</dict>
						<dict>
							<key>爱情运势</key>
							<string>恋爱中的人和爱人之间的矛盾别扩大化，关系有好改善；单身者对爱情的态度有变化，但脱单笔较难。</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>工作运势不错，用自己的方法做事，细节之处比较谨慎，少数人会比较固执，局限性较大。</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>一些花销是必须的，例如社保、生活用品、健康调理都需要花钱，经商者要小心资金链出现问题。</string>
						</dict>
						<dict>
							<key>健康运势</key>
							<string>健康方面，建议本周做个bodycheck，或是吃点营养品，好好调理一下身体。</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>integrateIndex</key>
				<string>⭐️⭐️⭐️</string>
				<key>integrateDesc</key>
				<string>稳定性不足的一个月</string>
				<key>more</key>
				<array>
					<array>
						<dict>
							<key>爱情运势</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>健康指数</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>综合运势</key>
							<string>感情状况在这个月显得比较杂乱，其实你的桃花运势很好，但是在异性关系上你的处理不得当，无论单身还是恋爱中的人都觉得很寂寞，想要找寻一些刺激，不过一定要整理好这些感情关系。部分人要处理好周围的人际关系。这个月在工作上的邀约开始增多，有些火花出现，工作会带给你好的桃花运。一定要去以主动的姿态去做事，要是依然被动那就可能争取不到好的机会，或是爱情了。另外，好的异性缘也会给你带来好的财运。</string>
						</dict>
						<dict>
							<key>爱情运势</key>
							<string>有伴者一整个月的关系都蛮和谐的，但是缺乏安去感，到了下半月情况会好转；单身者会有一些相亲的机会，或是在一些聚会中遇到好的桃花。</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>本月职场上部分人会想要改变职业跑道，想要出外创业发挥所长。上半月事业自信心增强，下半月要注意小人竞争，不能够马虎做事。</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>财运整体很不错，有好的赚钱机会，也有贵人指点，但是在生活上的花费不少。偏财运良好，尤其是下半月，但记住切忌投机求财。</string>
						</dict>
						<dict>
							<key>健康运势</key>
							<string>整体健康状况提升，一些旧患到了月中情况有所好转。本月适合多运动，或出行散心。</string>
						</dict>
						<dict>
							<key>解压方式</key>
							<string>睡觉</string>
						</dict>
						<dict>
							<key>开运小秘诀</key>
							<string>黄水晶</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>integrateIndex</key>
				<string>4</string>
				<key>integrateDesc</key>
				<string>积极面对一切</string>
				<key>more</key>
				<array>
					<array>
						<dict>
							<key>爱情运势</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>健康指数</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>综合运势</key>
							<string>在2018年里，你的重心主要转移到了家庭事务、个人爱好、娱乐活动等等，这年你变得更有魅力，乐观上进，出行、旅游有所增加，还有一些好消息到来。会有好运眷顾，比以前更能释然，放下不好的事情，所以一些巨蟹座会在2018年桃花和脱单，但是还是需要在人际关系上多花费点功夫。下半年开始对你的运势有所帮助，你会开启崭新的人生篇章，或者在与他人之间的关系、利益磨合中，更能认清自己的方向所在。今年你容易在社交领域和娱乐活动中遇到志同道合的朋友，人缘表现还不错。</string>
						</dict>
						<dict>
							<key>爱情运势</key>
							<string>对待感情更加上心，下半年开始运势平淡，还有下降的趋势，要多增加亲密互动增加感情关系；单身者今年有脱单机会，会吸引到一些桃花。部分人会旧情复燃。</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>今年依然持续忙碌的状态，所以要多关心自身的健康，还有做好工作上的准备，职场魅力得到提升，人际关系融洽。一些人会有创业想法，可以找志同道合的人合伙。</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>财运方面消费增加，花钱大手大脚，有点任性。但幸好财运表现不错，有赚钱商机，收入增加。投资有优势，有利于得财。今年要处理好与他人的钱财关系。</string>
						</dict>
						<dict>
							<key>健康运势</key>
							<string>在健康方面，那些有出行的人要注意水土不服或者是肠胃炎，尤其在月中前这段时间。</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>integrateIndex</key>
				<string>⭐️⭐️⭐️⭐️</string>
				<key>integrateDesc</key>
				<string>散发魅力，有望走进婚姻</string>
				<key>more</key>
				<array>
					<array>
						<dict>
							<key>女生指数</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>男生指数</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>综合运势</key>
							<string>进入2018年后，巨蟹们的爱情多了许多理性和务实的色彩。在与对方进一步发展之前，你们会认真地思考对方适不适合与自己结婚或是与对方结婚后能不能得到一份稳定的婚姻。你们的思考模式开始变得成熟稳重，而且比较现实，实际上的需求有时候会让对方产生巨大的压力，需要两个人共同的奋斗。谈恋爱中的巨蟹座会发现恋人与自己的默契度非常高，即使不明确地表达自己的意思也能够得到对方的理解。在春季和夏季，有部分的巨蟹座们容易沉浸在过去的恋情出不来，但同时也渴望得到新的恋情。已婚的巨蟹们与另一半感情甜蜜浪漫，经常会做一些浪漫的举动。另外，你们可能会在接下来有两个月迎来一个新生命。</string>
						</dict>
						<dict>
							<key>女生</key>
							<string>你们在这一年里的爱情运势有着比较大的起伏。过去曾经遭受过感情创伤的人可能会对爱情失去了信心或是难以坚持自己的信仰，但是今年会把这些重拾起来。如果是处于恋爱中，那么可能会开始与对方达到感情上的共鸣，从而想要与对方有进一步的发展，关系更加亲密或是走进婚姻的殿堂。如果是处于单身状态，那么可能会积极脱离单身，会遇到适合自己的人。</string>
						</dict>
						<dict>
							<key>男生</key>
							<string>在年初的时候，你们的感情生活状况比较平淡。到了年中的时候，你们的爱4情运势则变得越来越旺盛，这是因为土星来到了爱情宫，给予你们关于爱情方面的好运。在这段时间里，你们会与另一半相处良好，双方的感情会变得更加恩爱甜蜜，同时也比较稳定，有机会进一步发展。另外，对于单身者来说，这段时间的桃花运非常旺盛，有机会脱单哦。</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>狮子座</key>
		<array>
			<dict>
				<key>integrateIndex</key>
				<string>⭐️⭐️⭐️</string>
				<key>integrateDesc</key>
				<string>做事别急急忙忙</string>
				<key>more</key>
				<array>
					<array>
						<dict>
							<key>爱情运势</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>健康指数</key>
							<string>89%</string>
						</dict>
						<dict>
							<key>商谈指数</key>
							<string>89%</string>
						</dict>
						<dict>
							<key>幸运颜色</key>
							<string>红色</string>
						</dict>
						<dict>
							<key>幸运数字</key>
							<string>6</string>
						</dict>
						<dict>
							<key>速配星座</key>
							<string>射手座</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>综合运势</key>
							<string>工作思维活跃，创意不断，处理事情能力出色，但是缺乏挑战精神。财务上出现小状况，尤其是经商者容易周转不灵。情侣之间适当分开一下或许会有更好的效果，长时间在一起容易引起小吵。</string>
						</dict>
						<dict>
							<key>爱情运势</key>
							<string>与伴侣之间的相处方式需要改变，才能有更好的发展。</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>有一堆的杂物事，忙碌是必然的，需要有坚定的意志。</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>求财要制定目标和计划，还要善于观察市场动态。</string>
						</dict>
						<dict>
							<key>健康运势</key>
							<string>别懒于运动，身体要经常运动才会更健康。</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>integrateIndex</key>
				<string>⭐️⭐️⭐️</string>
				<key>integrateDesc</key>
				<string>显得闷闷不乐</string>
				<key>more</key>
				<array>
					<array>
						<dict>
							<key>爱情运势</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>健康指数</key>
							<string>86%</string>
						</dict>
						<dict>
							<key>商谈指数</key>
							<string>90%</string>
						</dict>
						<dict>
							<key>幸运颜色</key>
							<string>紫色</string>
						</dict>
						<dict>
							<key>幸运数字</key>
							<string>0</string>
						</dict>
						<dict>
							<key>速配星座</key>
							<string></string>
						</dict>
					</array>
					<array>
						<dict>
							<key>综合运势</key>
							<string>很容易产生负能量、负面情绪的一天，整个人看起来都显得很郁郁寡欢的样子。另外，工作上提出的某些意见可能会有人反对，别太计较，这都是正常的。无论发生什么样不好的事情，也别把坏情绪带给身边的人。</string>
						</dict>
						<dict>
							<key>爱情运势</key>
							<string>爱人其实很善解人意，平时不妨多跟对方沟通。</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>事业上会喜欢表达自己的想法，不过要有分寸。</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>财运方面会有好消息，会有人给你带来赚钱机会。</string>
						</dict>
						<dict>
							<key>健康运势</key>
							<string>天气燥热，身体易上火，少数人会比较虚弱。</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>integrateIndex</key>
				<string>⭐️⭐️⭐️</string>
				<key>integrateDesc</key>
				<string>情绪更迭状态不稳</string>
				<key>more</key>
				<array>
					<array>
						<dict>
							<key>爱情运势</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>⭐️⭐️</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>⭐️⭐️</string>
						</dict>
						<dict>
							<key>健康指数</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>幸运颜色</key>
							<string>红色</string>
						</dict>
						<dict>
							<key>幸运星座</key>
							<string>摩羯座</string>
						</dict>
						<dict>
							<key>提防星座</key>
							<string>金牛座</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>综合运势</key>
							<string>感情、工作都可能会有变动情况，例如换工作、与爱人发生争吵、任务变动，在与他人合作上线的不耐烦，容易谈判失败，在客户面前脾气暴躁。提醒你无论与谁沟通都要控制好自己的脾气，要不然会阻碍到事业的发展、计划被阻断。本周琐碎事一大堆，没太多时间去实行个人的目标，对自己的事业方向开始产生动摇。其实不妨重新思考一下，让目标更贴合实际，也许发展可能性更好，当然你也要有坚定的意志才行。</string>
						</dict>
						<dict>
							<key>爱情运势</key>
							<string>对于有伴者来说，要多听听对方的想法，站在对方角度考虑，尤其是男性；单身者有暧昧的对象，但对方都不是你真正想要的。</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>本周在工作上的新想法创意不会太多，但压力、紧张感却是每日剧增，信心下降。</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>经济状况一般般，收入比想象中要少，而且本周的消费比进账要多，自己要看着钱包行事。</string>
						</dict>
						<dict>
							<key>健康运势</key>
							<string>健康运势还不错，对个人的饮食很注意，有很强的养生意识，另外需要加强运动，也要调整好情绪。</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>integrateIndex</key>
				<string>⭐️⭐️⭐️</string>
				<key>integrateDesc</key>
				<string>压力与机会并存的一个月</string>
				<key>more</key>
				<array>
					<array>
						<dict>
							<key>爱情运势</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>⭐️⭐️</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>健康指数</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>综合运势</key>
							<string>这个月可是你最需要忍耐的一个月了，比较难熬无论是面对感情还是工作，凡事都要慢慢来，规距一点，跟着节奏来，尤其是对于急躁的人来说。在月初的时候，在整体的做事方面运气会稍微有点差，合伙运有点糟糕，朋友的关系容易生变，所以要是与人有金钱的合伙，一定要注意对方的想法是不是有问题，与你的i想法是否一致，要不然会影响未来的钱财收入。这个月出行运其实很好，可以好好利用这个机会多出去外面走走旅游，能够帮助你转变运势。</string>
						</dict>
						<dict>
							<key>爱情运势</key>
							<string>本月与恋人的矛盾逐渐减少，彼此互相支持，维持良好的关系；单身者容易遇到好的桃花，但希望越大失望越大，到了月底运势会变好，有利于开展新感情，脱单有望。</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>职场整体运势有点弱，在工作上各方面都要注意，别被他人挑刺抓把柄。个人的自信心下降，很多时候很难放开手去做事。部分人需要出差，中旬会特别忙碌。</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>这个月你的赚钱能力不错，正财、偏财有入账。上半月花费相对比较多，在娱乐、家人、投资上都有几笔的开销。</string>
						</dict>
						<dict>
							<key>健康运势</key>
							<string>健康方面，会有一些小疾病小不适，尤其在月底期间，疲倦特别明显。本月很适合给身体做全省检查。</string>
						</dict>
						<dict>
							<key>解压方式</key>
							<string>瑜伽</string>
						</dict>
						<dict>
							<key>开运小秘诀</key>
							<string>海边</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>integrateIndex</key>
				<string>⭐️⭐️⭐️</string>
				<key>integrateDesc</key>
				<string>整体忙碌调整步伐</string>
				<key>more</key>
				<array>
					<array>
						<dict>
							<key>爱情运势</key>
							<string>⭐️⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>健康指数</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>综合运势</key>
							<string>狮子座在2018年可能会出现一些被动的变化，需要你去适应，做好自我调节。今年的安全感相对会有所下降，自信心也随之减弱，对于很多事情都存在不确定性，显得忐忑不安，有一段时间会显得很迷茫，不知该从何做起。只要调整好自己，才能继续安好地度过一年。会有不少的麻烦琐碎事，人际上也有些不愉快，但是还是能够按照自己的意愿做事，这是最值得开心的。要保持平和谦虚的心态，减少纠纷，压力变少，自然感到轻松了。</string>
						</dict>
						<dict>
							<key>爱情运势</key>
							<string>感情上有好的机会，有伴者恋情进展稳定，但需要学会退让包容，少数人会有不忠行为；单身者会得到异性的青睐，易产生火花。部分人可能会有办公室恋情。</string>
						</dict>
						<dict>
							<key>事业学业</key>
							<string>今年事业上会出现困难和压力，考验多多，要以平和的仙台对待。上半年进展不太顺，不太听从他人意见，下个月开始逐渐的到改善，会得到更多人的支持和信任。</string>
						</dict>
						<dict>
							<key>财富运势</key>
							<string>一年里的收入时好时坏，有偏财或是兼职的收入。今年想要获取更多就要更加努力，回报不是一朝一夕的。</string>
						</dict>
						<dict>
							<key>健康运势</key>
							<string>健康上，易有情绪波动，要养成规律的作息时间和养生，对身体有更大的帮助，减少疾病。</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>integrateIndex</key>
				<string>⭐️⭐️⭐️</string>
				<key>integrateDesc</key>
				<string>对爱情有着深切的渴望</string>
				<key>more</key>
				<array>
					<array>
						<dict>
							<key>女生指数</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
						<dict>
							<key>男生指数</key>
							<string>⭐️⭐️⭐️</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>综合运势</key>
							<string>进入2018年，介于土星压迫切水星逆行的原因，狮子座的人爱情状态比较一般，而且很多时候会看到关于爱情不好的一面，单身的狮子们容易在爱情里受到伤害，又或者是无意中把自己卷入了三角或是多角恋情的窘况当中。在春季，恋爱中的狮子们可能会与另一半的感情关系变得紧张或者僵硬，如果不能缓解就会有很长一段时间的冷战期。而单身的狮子们容易遇到烂桃花，需要谨慎地去分析对方的来意，任何时候都应该保持冷静与理性。在冬季后，你们的桃花运开始好转，可以大胆地追求自己想要的爱情，不需要克制自己。不过，建议狮子们多与对方进行沟通交流，多了解一下对方，而不是光看外表去判断对方是一个怎样的人。</string>
						</dict>
						<dict>
							<key>女生</key>
							<string>整体而言，你们的爱情运势并不是非常顺利，也不算稳定。不少处于恋爱状态的人对待爱情的心态有点起伏不定，也许是因为发生的事情太多而导致自己对感情比较缺乏自信心，有时候会对目前的感情疑惑，你们会重新审视自己的感情。若是你们处于单身状态，那么今年虽然有不错的桃花运，但大多数都不适合你们，因为你们逐渐清楚怎样的对象财适合自己。</string>
						</dict>
						<dict>
							<key>男生</key>
							<string>你们的爱情运势比较平淡，总体趋势比较平稳。如果有伴侣，那么与对方的感情还算不错，即使发生矛盾或是摩擦都不会影响双方的感情，不过可惜的是两个人之间的感情没有实质性的进展。不过，不需要太过于担忧，这并不意味着你们的感情变淡了，只是缺少相处时间，沟通交流的机会也比较少罢了。建议你们要多花点时间，抽空陪伴对方，才有利于增进两人的感情。</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
